html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*,*:before,*:after {
    box-sizing: border-box;
}
.container{
    max-width: 940px;
    margin: 0 auto;
    font-family: 微軟正黑體;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.header{
    height: 40px;
    margin: 30px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.combobox{
    display:none;
}
.header-logotype{
    display:none;
}
.header h1 img {
    height: 40px;
    width: auto;
}
.header .car{
    display:none;
}
.header ul{
    width: 319px;
    line-height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.header ul li a{
    text-decoration: none;
    color: #3F5D45;
    display: block;
    padding: 0 20px;
}
.header ul a:hover{
    color: #EAF0ED;
}

.banner{
    margin-bottom: 60px;
}

.main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu{
    width: 32%;
    text-align: center;
    font-size: 24px;
}
.menu h3{
    padding: 20px 0;
    color: #EAF0ED;
    background: #3F5D45;
}
.menu a{
    border: 1px solid #EAF0ED;
    padding: 20px 0;
    text-decoration: none;
    color: #3F5D45;
    display: block;
}
.menu a:hover{
    background: #EAF0ED;
}

.contain{
    width: 66%;
    margin-left: 20px;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product li{
    width: 300px;
    margin-bottom: 20px;
    position: relative;
}
.feature{
    font-size: 16px;
    padding: 15px 10px;
    color: #EAF0ED;
    background: #3F5D45;
    writing-mode: vertical-lr;
    position: absolute;
    left: 20px;
    top: 0;
}
.like{
    position: absolute;
    right: 22px;
    top: 19px;
}
.price{
    line-height: 56px;
    font-size: 20px;
    color: #3F5D45;
    text-align: center;
    display:flex;
}
.price h3{
    width: 173px;
    border: 1px solid #EAF0ED;
}
.price span{
    width: 127px;
    border: 1px solid #EAF0ED;
}
.product a{
    display: block;
    line-height: 65px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color: #3F5D45;
    background: #EAF0ED;
}
.product a:hover {
    color: #EAF0ED;
    background: #3F5D45;
}

.page {
    display: flex;
    justify-content: flex-end;
    color: #3F5D45;
    margin-bottom: 60px;
}

.page li a{
    width: 60px;
    height: 60px;
    display: block;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
}
.select:hover{
    color: #EAF0ED;
    background: #3F5D45;
}
.page img{
    margin: 18px;
}


.subscribe{
    background: #3F5D45;
    font-family: 微軟正黑體;
}
.mail{
    max-width: 780px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.subscribe-text{
    display:flex;
    color: #EAF0ED;
}
.subscribe-text img{
    width: 40px;
    height: auto;
}
.subscribe-text h2{
    font-size: 24px;
    line-height: 40px;
    padding-left: 20px;
}
.subscribe-input{
    display:flex;
}
.subscribe-input .mail-icon{
    background: #EAF0ED;
    padding: 16px 20px;
}
.subscribe-input input{
    width: 252px;
    height: 56px;
    border:0;
    background: #EAF0ED;
}
.subscribe-input button{
    padding: 16px 20px;
    background: #FFE180;
    border:0;
}


.footer{
    background: #EAF0ED;
}
.footer .wrap{
    max-width: 780px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    padding: 30px 0;
    font-family: 微軟正黑體;
}
.left-side .logotype{
    padding-bottom: 115px;
}
.left-side p{
    font-size: 16px;
    line-height: 24px;
    color: #3F5D45;
    padding-bottom: 30px;
}
.social-link{
    display:flex;
}
.social-link img{
    width: 40px;
    height: auto;
    padding-right: 8px;
}
.right-side {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: #3F5D45;
}
.right-side .slogan{
    writing-mode: vertical-rl;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4em;
    letter-spacing:5px;
}
.right-side p{
    font-size: 16px;
}

@media (max-width:928px) {
    .banner{
        margin: 0;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .menu{
        width: 100%;
        text-align: center;
        font-size: 24px;
        display: flex;
    }
    .menu ul{
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
    .menu h3{
        width: 20%;
        line-height: 48px;
    }
    .menu a{
        padding: 20px 5px;
    }
    .contain{
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .product li{
        margin-bottom: 30px;
    }
    .page {
        display: flex;
        justify-content: center;
        color: #3F5D45;
        margin-bottom: 30px;
    }
    .mail{
        padding: 30px 30px;
    }
    .footer .wrap{
        padding: 30px 30px;
    }
}
@media (max-width:767px) {
    .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
    }
    .combobox{
        display:block;
    }
    .header-logotype{
        display:block;
        width: 115px;
    }
    .header h1{
        display:none;
    }
    .header ul{
        display:none;
    }
    .header .car{
        display:block;
    }
    .menu{
        flex-direction: column;
    }
    .menu h3{
        width: 100%;
        line-height: 1em;
    }
    .menu ul{
        flex-direction: column;
        width: 100%;
    }
    .contain{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .product{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .mail{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subscribe-text{
        margin-bottom: 30px;
    }
    .footer .wrap{
        justify-content: start;
        flex-direction: column;
    }
    .left-side .logotype{
        width: 172px;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .right-side {
        align-items: start;
    }
    .right-side .slogan{
        display: none;
    }
    .right-side p{
        margin-top: 23px;
    }
}